nav {
  background-color: #757575;
}

nav .brand-logo {
  font-size: 1.5rem;
}

.button-collapse {
  margin-left: 1rem;
}

nav ul a:hover {
  background-color: rgba(0,0,0,0);
/*  background-color: rgba(0,0,0,0.1);*/
}

.current-user {
  color: #ffca28;
  margin-right: 1rem;
}

i.right {
  float: right;
  margin-left: 0px;
}

.dropdown-content {
  margin-top: 64px;
}

#close {
  color: #bdbdbd;
  float: right;
}

.modal-title {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 0px;
}

.modal-content > p {
  text-align: center;
}

.chart-title {
  text-align: center;
}

.card-action {
  text-align: right;
}
